body{
    margin: 0px;
    padding: 0px;
    background-color: #16a085;
    position: relative;
}
#gridBg{
    position: relative;
    left: 0px;
    top:0px;
}

.normal{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 100;
}
.food{
    background-color: #abc123;
}
.home{
    background-color: #407D94;
}
.barrier{
    background-color: #637342;
}
.pheromone{
    background-color: #264863;
}
.ant{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 50%;
    z-index: 110;
}
#selectPlane{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    display: none;
    z-index: 200;
}
#selectPlane #innerSelectPlane{
    position: absolute;
    width: 60px;
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;

}

#selectPlane #innerSelectPlane .opacityBg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    background-color: #000;

    -webkit-opacity: 0.5;
    opacity: 0.5;

}
#selectPlane #innerSelectPlane .content{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:5px;
}
#selectPlane #innerSelectPlane .content .select{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;

}
#welcome{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 300;
}
#welcome .opacityBg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    background-color: #000;

    -webkit-opacity: 0.6;
    opacity: 0.55;
}
#welcome .vertical{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    display: table;
}
#welcome .content{
    position: relative;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    top:-30px;
}
#welcome .content h1{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
#welcome .content .subtitle{
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin-top: 5px;
}
#welcome .tip{
    position: relative;
    margin: auto;
    margin-top: 9%;
}
#welcome .tip h2{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color:rgba(255,255,255,0.8);
}
#welcome .tip .block{
    position: relative;
    width:101px;
    margin: auto;

}
#welcome .outSelect{
    position: relative;
    float: left;
    margin-left: 20px;
}
#welcome .outSelect h2{
    font-size: 12px;
    color:rgba(255,255,255,0.8);
}
#welcome .select{
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
}


#welcome .content .btn{
    position: relative;
    margin: auto;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #16a085;
    color: #fff;
    text-align: center;
    margin-top: 7%;
    border-radius: 4px;
    cursor: pointer;
}
#welcome .content .btn:hover{
    background-color: #1abc9c;
}
#startBtn{
    position: fixed;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background-color: #16a085;
    color: #fff;
    text-align: center;
    z-index: 250;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    display: none;
}
#startBtn:hover{
    background-color: #1abc9c;
}

/* === Settings Panel === */
#settingsPanel{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 400;
    display: none;
    overflow-y: auto;
}
#settingsPanel .panel-content{
    position: relative;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px 35px;
    border-radius: 8px;
    max-width: 480px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
#settingsPanel h2{
    text-align: center;
    color: #16a085;
    margin: 0 0 10px 0;
    font-size: 20px;
}
#settingsPanel .formula{
    text-align: center;
    color: #555;
    font-size: 14px;
    margin: 0 0 20px 0;
    font-family: "Times New Roman", serif;
    font-style: italic;
}
#settingsPanel .setting-group{
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    padding-top: 12px;
}
#settingsPanel .setting-group h3{
    color: #16a085;
    font-size: 14px;
    margin: 0 0 12px 0;
}
#settingsPanel .setting-item{
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}
#settingsPanel .setting-item label{
    width: 150px;
    min-width: 150px;
    color: #333;
    font-size: 14px;
}
#settingsPanel .setting-item input,
#settingsPanel .setting-item select{
    flex: 1;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    max-width: 120px;
}
#settingsPanel .setting-item .unit{
    margin-left: 10px;
    color: #999;
    font-size: 11px;
    flex: 1;
}
#settingsPanel .btn-group{
    margin-top: 20px;
    text-align: center;
}
#settingsPanel .btn{
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #16a085;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#settingsPanel .btn:hover{
    background-color: #1abc9c;
}
.green{
    background-color: #abc123;
}
.scaleOutAnim{
    -webkit-animation: scaleOut 0.4s ease;
    animation: scaleOut 0.4s ease;
}
@-webkit-keyframes scaleOut
{
    0%{
        -webkit-transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
    }
}
@keyframes scaleOut
{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
